<launch>
	<param
		name="robot_description" 
		command="$(find xacro)/xacro.py '$(find robomagellan)/models/nomad1.urdf.xacro'"
	/>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find robomagellan)/config/robomagellan.rviz" />
</launch>
