<launch>
    <param name="robot_description" textfile="$(find robomagellan)/models/corobot1.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robomagellan)/worlds/robomagellan.vcg" />
</launch>
