<launch>

    <master auto="start"/>
	<node name="rxconsole" pkg="rxtools" type="rxconsole" respawn="false" />

    <!-- simulation -->
    <param name="/use_sim_time" value="true"/>
    <!-- simulation -->
    <node pkg="stage" type="stageros" name="stageros" args="$(find robomagellan)/worlds/bills-house.world" respawn="false" >
        <param name="base_watchdog_timeout" value="0.2"/>
    </node>
    <!-- simulation -->
    <node name="fake_localization" pkg="fake_localization" type="fake_localization" respawn="false" />
    <!-- simulation -->
	<node name="collision" pkg="robomagellan" type="collision_detector.py" args="$(find robomagellan)/worlds/single-waypoint.waypoints" respawn="true" />
    <!-- production -->
<!--	<node name="collision" pkg="robomagellan" type="collision_detector.py" respawn="true" />    -->

    <!--                  -->
    <!-- production nodes -->
    <!--                  -->

    <param name="robot_description" textfile="$(find robomagellan)/models/corobot1.urdf.xacro" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" respawn="true" />
    <include file="$(find robomagellan)/config/move_base.xml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(find robomagellan)/worlds/bills-house.yaml" respawn="false" />
    <node name="strategy" pkg="robomagellan" type="strategy.py" args="$(find robomagellan)/worlds/single-waypoint.waypoints"/> 

    <!--                  -->
    <!--  visualization   -->
    <!--                  -->

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robomagellan)/worlds/single_robot.vcg" />
</launch>
