<launch>

    <master auto="start"/>
    <node name="rxconsole" pkg="rxtools" type="rxconsole" respawn="false" />

    <!--                  -->
    <!-- simulation nodes -->
    <!--                  -->

    <param name="/use_sim_time" value="true"/>
    <node pkg="stage" type="stageros" name="stageros" args="$(find robomagellan)/worlds/willow-full.world" respawn="false" >
        <param name="base_watchdog_timeout" value="0.2"/>
    </node>
    <node name="fake_localization" pkg="fake_localization" type="fake_localization" respawn="false" />
    <node name="collision" pkg="robomagellan" type="collision_detector.py" args="$(find robomagellan)/worlds/simple-course.waypoints" respawn="true" />

    <!--                  -->
    <!-- production nodes -->
    <!--                  -->

    <param name="robot_description" textfile="$(find robomagellan)/models/nomad1.urdf.xacro" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" respawn="true" />
    <include file="$(find robomagellan)/config/move_base.xml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(find robomagellan)/worlds/willow-full.yaml" respawn="false" />

    <!--                  -->
    <!--  visualization   -->
    <!--                  -->

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robomagellan)/worlds/single_robot.vcg" />
</launch>
