<launch>

    <!-- tf -->
    <include file="$(find robomagellan)/config/transformations.xml"/> 

    <!-- odometry -->
    <include file="$(find robomagellan)/config/odometry.xml"/> 

    <!-- sensing -->
    <include file="$(find robomagellan)/config/sensors.xml"/> 

    <!-- navigation -->

<!--
    <include file="$(find robomagellan)/config/navigation-autonomous.xml"/>
-->
    <include file="$(find robomagellan)/config/navigation-teleop.xml"/> 
    <include file="$(find robomagellan)/config/base_controller.xml"/> 
    
</launch>

