<launch>

    <!-- if not in autonomous mode, then will run in teleop ("remote control") mode -->
    <arg name="autonomous" default="false"/>

    <arg name="simulation" default="false"/>
    <!-- 
        used to describe which set of maps to use. this value is only used if running in
        simulation mode, since in the real competition we will not have a provided map.

        available values:
          bills-house (indoor, bill's living room)
          loyola-park (outdoor, Loyola Park, Chicago IL)
          willow-full (indoor, willow garage)
          moraine-valley (outdoor, the site of the competition

        override by providing the new value on the command-line, e.g.
          roslaunch robomagellan robomagellan.launch simulation:=true worldname:=loyola-park
     -->
    <arg name="worldname" default="bills-house" />
    <param name="/use_sim_time" value="$(arg simulation)"/>

    <!-- the list of waypoints to capture -->
    <arg name="waypoints_file" default="$(find robomagellan)/worlds/$(arg worldname).waypoints"/>


    <!-- tf -->
    <include file="$(find robomagellan)/config/transformations.xml"/> 

    <!-- odometry -->
    <!-- odom is provided by stage in case of simulation -->
    <include file="$(find robomagellan)/config/odometry.xml"/> 
    <include unless="$(arg simulation)"
        file="$(find robomagellan)/config/odometry-prod.xml"/> 
    <include if="$(arg simulation)"
        file="$(find robomagellan)/config/odometry-sim.xml"/> 

    <!-- localization -->
    <include file="$(find robomagellan)/config/localization-amcl.xml"> 
        <arg name="worldname" value="$(arg worldname)"/>
    </include>
<!--    <include file="$(find robomagellan)/config/localization-slam.xml"/>  -->
<!--    <include file="$(find robomagellan)/config/localization-cones.xml"/>  -->
<!--    <include file="$(find robomagellan)/config/localization-none.xml"/> -->

    <!-- sensing -->
    <include unless="$(arg simulation)"
        file="$(find robomagellan)/config/sensors.xml"/> 
    <include if="$(arg simulation)"
        file="$(find robomagellan)/config/sensors-sim.xml">
        <arg name="worldname" value="$(arg worldname)"/>
    </include> 

    <!-- navigation -->
    <include if="$(arg autonomous)"
        file="$(find robomagellan)/config/navigation-autonomous.xml">
        <arg name="waypoints_file" value="$(arg waypoints_file)"/>
    </include>
    <include unless="$(arg autonomous)"
        file="$(find robomagellan)/config/navigation-teleop.xml"/> 

    <include unless="$(arg simulation)"
        file="$(find robomagellan)/config/base_controller.xml"/> 
    <include if="$(arg simulation)"
        file="$(find robomagellan)/config/base_controller-stage.xml"> 
        <arg name="worldname" value="$(arg worldname)"/>
    </include>

</launch>
