<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robomagellan">

	<xacro:property name="centerToAxle" value="0.2" />
	<xacro:property name="groundToAxle" value="0.06" />

	<link name="base_footprint">
		<!--
			Attaches the robot to the world frame
		 -->
	</link>

	<link name="base_link">
		<!--
			The base of the robot itself.
			The GPS and IMU are also linked to this frame
		 -->
		<visual>
			<geometry>
				<box size="0.5 0.25 0.25" />
			</geometry>
			<material name="blue">
				<color rgba="0 0 1 1"/>
			</material>
		</visual>
	</link>

	<link name="camera_lens">
	</link>

	<link name="camera_lens_optical">
		<visual>
			<geometry>
				<cylinder radius="0.01" length="0.02" />
			</geometry>
			<material name="red">
				<color rgba="1 0 0 1"/>
			</material>
		</visual>
	</link>

	<link name="ultrasonic_1">
	    <!-- the left-most ultrasonic rangefinder -->
		<visual>
			<geometry>
				<box size="0.02 0.01 0.01" />
			</geometry>
			<material name="green">
				<color rgba="0 1 0 1"/>
			</material>
		</visual>
	</link>

	<link name="ultrasonic_2">
		<visual>
			<geometry>
				<box size="0.02 0.01 0.01" />
			</geometry>
			<material name="green"/>
		</visual>
	</link>

	<link name="ultrasonic_3">
		<visual>
			<geometry>
				<box size="0.02 0.01 0.01" />
			</geometry>
			<material name="green"/>
		</visual>
	</link>

	<link name="ultrasonic_4">
		<visual>
			<geometry>
				<box size="0.02 0.01 0.01" />
			</geometry>
			<material name="green"/>
		</visual>
	</link>

	<link name="infrared_1">
		<visual>
			<geometry>
				<box size="0.02 0.01 0.01" />
			</geometry>
			<material name="yellow">
				<color rgba="0 0.5 0.5 1"/>
			</material>
		</visual>
	</link>

	<joint name="base_footprint_to_base_link" type="fixed">
		<parent link="base_footprint"/>
		<child link="base_link"/>

		<origin xyz="${-1 * centerToAxle} 0.0 ${groundToAxle}" />
	</joint>

	<joint name="base_link_to_camera_lens" type="fixed">
		<parent link="base_link"/>
		<child link="camera_lens"/>

		<origin xyz="0.25 0.0 0.125" />
	</joint>

	<joint name="camera_lens_to_camera_lens_optical" type="fixed">
		<parent link="camera_lens"/>
		<child link="camera_lens_optical"/>

		<origin xyz="0 0 0" rpy="-1.57 0 -1.57" />
	</joint>

    <joint name="base_link_to_infrared_1" type="fixed">
        <parent link="base_link"/>
        <child link="infrared_1"/>

        <origin xyz="0.25 0.0 -0.08"/>
    </joint>

    <joint name="base_link_to_ultrasonic_1" type="fixed">
        <parent link="base_link"/>
        <child link="ultrasonic_1"/>

        <origin xyz="0.20 -0.083 0.125" rpy="0.0 0.0 -0.18"/>
    </joint>

    <joint name="base_link_to_ultrasonic_2" type="fixed">
        <parent link="base_link"/>
        <child link="ultrasonic_2"/>

        <origin xyz="0.25 -0.042 0.125"/>
    </joint>

    <joint name="base_link_to_ultrasonic_3" type="fixed">
        <parent link="base_link"/>
        <child link="ultrasonic_3"/>

        <origin xyz="0.25 0.042 0.125"/>
    </joint>

    <joint name="base_link_to_ultrasonic_4" type="fixed">
        <parent link="base_link"/>
        <child link="ultrasonic_4"/>

        <origin xyz="0.20 0.083 0.125" rpy="0.0 0.0 0.18"/>
    </joint>

</robot>
